@import "./fonts";
@import "./variables";
@import "./style";

//reset styles
* {
  box-sizing: border-box;
}

body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-size: $fsize;
  color: $fcolor;
  font-family: $ffPoppins;
  line-height: 27px;
  background-color: #fafafa;
}
